body {
    background-color:gray;
    color: blanchedalmond;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;

}
h1 {
    border-bottom: rgb(255, 255, 255);
    border-bottom-width: thin;
    border-bottom-style: double;
    font-size: 16px;
    color: rgb(194, 24, 24);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1.headingwithborder {
border-bottom: white;
border-bottom-width: thin;
border-bottom-style: double;
font-size: 16px;

}

a:link {
    color: rgb(217, 255, 1);
  }
a:visited {
    color: rgb(0, 0, 0);
  }
  a:hover {
    color: rgb(51, 255, 10);
  }
  figcaption {
      font-size: small;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }